# Sample testbench.config
# This is where original verilog source code to be transformed are found.
export DESIGN_DIR=~/Soheil/clean_abacus/fft_linear+nsga
# This is the design name. i.e. 'perceptron.v' would have 'perceptron' as 
# design name.
export DESIGN_NAME=fft

# Directory for reports from Original Design:
export ORG_DIR=$DESIGN_DIR/Original

# Directory for storing intermediate designs. Each file should be named as followed
# DESIGN_NAME_Gx_Sy_Fz.v where x = generation number, y = selection number, z = file number.
export POP_DIR=$DESIGN_DIR/Population

# The number of generations of the NSGA algorithm.
Num_Generation=8
# The number of mutants per generation for the 1st generation.
Num_perGen_1st_gen=10
# The number of mutants per generations for 2nd generations onward.
Num_perGen_2ndandup=5
# The number of  
Num_sel=4
Num_testCases=4

##### SOURCE FOLDER ##########
# Separated from DESIGN_DIR
export SOURCE_FOLDER=$DESIGN_DIR/SRC

##### SIMULATION #############
SIMULATION_DIR=$DESIGN_DIR/simulation
# 1 for verilator, 0 for modelsim
VERILATOR=0
# if modelsim is used uncomment below:
VSIMFILE="Dooo_parallel.do"
# If Verilator is used:
#export verilator="/users/sh33/CHHAY/verilator-3.874/verilator/verilator"
export VERILATOR_ROOT="/users/sh33/CHHAY/verilator-3.874/"  
VERILATOR_RULE="/users/sh33/CHHAY/verilator-3.874/verilator/verilator -Wno-lint --cc fft_test.v $SOURCE_FOLDER/fft.v --exe fft_test.cpp"

#VERILATOR_RULE="verilator -Wno-lint --cc fft_test.v $SOURCE_FOLDER/fft.v --exe fft_test.cpp"
VERILATOR_MAKE_RULE="make -j -C obj_dir/ -f Vfft_test.mk Vfft_test && mv obj_dir/Vfft_test ./Vfft"
VERILATOR_EXECUTABLE=Vfft
VERILATOR_EXEC_RULE="./Vfft"
# Output files
SIMULATION_OUTPUT_FILES="outfft.txt"

######## QUALITY CHECK ###########
ACC_THRESHOLD=90
# How much accuracy, power saving, or area saving affect evolution
# Rank = accuracy*ACC_COEF + power_saving*PWR_COEF + area_saving*AREA_COEF
ACC_COEF=0.6
PWR_COEF=0.4
AREA_COEF=0.0

##### SYNTHESIS #################
export TECH_LIB_DIR=~/LIBRARY
export SYNTH_DIR=$DESIGN_DIR/synthesis
SYNTH_FILE=parallel_run_synth.tcl
SYNTH_FILE_0_8=parallel_run_synth_VDD_0_8.tcl 
# The synthesis must generate and put the following files in SYNTH_DIR
PWR_RPT=pwr_rpt
AREA_RPT=area_rpt
STA_RPT=sta_stp_rpt
PWR_RPT_0_8=pwr_rpt_0_8
AREA_RPT_0_8=area_rpt_0_8
STA_RPT_0_8=sta_stp_rpt_0_8

##### RULE to evaluate simulation and synthesis results #############
# QOS should print, in the first column, 'success' if the design passes
# accuracy check or 'fail' otherwise.
# QOS should take 4 inputs: $Generation, $SelNo, $VlogFile, and Num_testcases. It should
# write to file $SOURCE_FOLDER/FilesInfo_Gx.txt where
# x = $Generation.
# Sample python QOS called: QOS.main($Generation, $Selno, $VlogFile)
#
# For each design, QOS should produce 1 line with 3 columns as illustrated below.
# The first column should be $DESIGN_NAME_Gx_Sy_Fz.v where 
# x = $Generation, y = $Selno (selection number), z = $VlogFile (file number).
#
# File_Name Mean_Accuracy(%) Min_Accuracy(%) Area_Saving(%) Power_Saving(%) Net_Slack(ns) Additional_Savings(%)
# DESIGN_NAME_G1_S1_F1        83.35       81.8
# DESIGN_NAME_G1_S1_F2        83.55       82.2
# DESIGN_NAME_G1_S1_F3        64.88       63.1
# DESIGN_NAME_G1_S1_F4        70.7        64.4
#
#QOS='matlab -c ~/license.lic -nodesktop -nosplash -r "data_compare($Generation, $SelNo, $VlogFile, $Num_testCases);"'
QOS='python -c "import parallel_data_compare; parallel_data_compare.main($Generation, $SelNo, $VlogFile, $Num_testCases, $node);"'

# Saving method reads power, area, slack data from file '$SYNTH_DIR/report.txt',
# and computes the savings. Savings should be the percentage relative to the original
# value. For each design, the method adds 4 columns to the report produced by QOS as
# illustrated below:
#
# File_Name Mean_Accuracy(%) Min_Accuracy(%) Area_Saving(%) Power_Saving(%) Net_Slack(ns) Additional_Savings(%)
#                                            12.3338        7.59225         -0.29         0
#                                            1.21985        0.745007        0             0
#                                            13.8701        8.74678         0             0
#
# On success, COMPUTE_SAVING should print '0'. Otherwise, it should print '1'.
COMPUTE_SAVING='cat savings.sh | sh'
